.startupinsightheader {
  width: 100%;
  height: calc(471 / 2638 * 100vh);
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.startupinsightheader__left {
  display: flex;
  align-items: center;
}
.startupinsightheader__left > h2 {
  color: #ffffff;
  font-size: calc(95.67 / 3963 * 100vw);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: calc(40 / 3963 * 100vw);
}
.startupinsightheaderimg__container > img {
  width: calc(230 / 3963 * 100vw);
  height: calc(250 / 2167 * 100vh);
}
.startupinsightheaderimg__container {
  padding: calc(10 / 3963 * 100vw);
  cursor: pointer;
}
.startupinsightheader__right {
  display: flex;
  align-items: center;
}
.startupinsightheader__right__home > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
/* Style The Dropdown Button */
.startupinsightheader__right__initiative__dropbutton {
  /* background-color: #4CAF50; */
  color: white;
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.startupinsightheader__right__initiative__dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.startupinsightheader__right__initiative__dropdowncontent {
  display: none;
  position: absolute;
  background-color: #3c3c3c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.startupinsightheader__dropdownboxes {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.startupinsightheader__dropdownboxes:hover {
  background-color: #a9a9a9;
}

/* Show the dropdown menu on hover */
.startupinsightheader__right__initiative__dropdown:hover
  .startupinsightheader__right__initiative__dropdowncontent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .homepage__initiative__dropdown:hover, .homepage__initiative__dropbutton {
  background-color: #3e8e41;
} */
.startupinsightheader__right__initiatives > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right__startupinsight > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right__team > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right__contact > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right__home > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right__home > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right__home > h4 {
  margin-right: calc(100 / 3963 * 100vw);
  font-size: calc(46.84 / 3963 * 100vw);
  font-weight: 400;
  cursor: pointer;
}
.startupinsightheader__right > hr {
  width: calc(200 / 3963 * 100vw);
  transform: rotate(-90deg);
  background-color: #ffffff;
  height: calc(5 / 2167 * 100vh);
  margin-left: calc(-100 / 3963 * 100vw);
}
.startupinsightheader__right > h4:hover,
.startupinsightheaderimg__container:hover {
  background: rgba(171, 171, 171, 0.3);
}