
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
  width: 1104px;
  height: 666.11px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(49, 154, 150, 1);
  /* border: 4.63866px solid #000000; */
  box-sizing: border-box;
  border-radius: 46.3866px;
}

.heading{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight:bolder; 
  font-size: 55.6639px;
  line-height: 68px;

  color: #000000;
  position: absolute;
  top: 53px;
  left: 59px;
  z-index: 10;
}

img{
  width: 454px;
  position: absolute;
  left: 70px;
  top: 305px;
}

.small-circle{
  background-color: #FFF;
  width: 22.3px;
  height: 22.3px;
  border-radius: 11.15px;
  position: absolute;
  left: 57px;
  top: 233px;
}

.big-circle{
  background-color: #FFF;
  width: 31.5px;
  height: 31.5px;
  border-radius: 15.75px;
  position: absolute;
  left: 17px;
  top: 279px;
}

.horizontal-line-1{
  position: absolute;
  height: 0px;
  width: 94.62857055664062px;
  left: 110px;
  top: 44.531005859375px;
  border-radius: nullpx;
  border: 4.1px solid rgba(255, 236, 236, 1);
  box-shadow: 0px 3.7109243869781494px 3.7109243869781494px 0px rgba(0, 0, 0, 0.25);
}

.horizontal-line-2{
  position: absolute;
  height: 0px;
  width: 92.77310943603516px;
  left: 110px;
  top: 212px;
  border-radius: nullpx;
  border: 4.1px solid rgba(255, 236, 236, 1);
  box-shadow: 0px 3.7109243869781494px 3.7109243869781494px 0px rgba(0, 0, 0, 0.25);

  background-color: rgba(255, 236, 236, 1);
}

.vertical-line-2{
  position: absolute;
  height: 0px;
  width: 167px;
  left: 121px;
  top: 128px;
  border: 4.1px solid rgba(255, 236, 236, 1);
  box-shadow: 0px 3.7109243869781494px 3.7109243869781494px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);

  background-color: rgba(255, 236, 236, 1);
  z-index: 20;
}

.vertical-line-1{
  position: absolute;
  height: 0px;
  width: 167px;
  left: 29px;
  top: 128px;
  border-radius: nullpx;
  border: 4.1px solid rgba(255, 236, 236, 1);
  box-shadow: 0px 3.71092px 3.71092px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);

  background-color: rgba(255, 236, 236, 1);
}