.faqsfooter {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.faqsfooter__left {
  display: flex;
  color: #ffffff;
  align-items: center;
}
.faqsfooter__left > h2 {
  font-size: calc(50 / 3963 * 100vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-left: calc(61 / 3963 * 100vw);
  color: #e5e5e5;
}
.faqsfooter__right {
  display: flex;
  color: #ffffff;
  align-items: center;
}
.faqsfootericon__container > .MuiSvgIcon-root {
  height: calc(150 / 2167 * 100vh);
  width: calc(150 / 3963 * 100vw);
}
.faqsfootericon__container {
  padding: calc(10 / 3963 * 100vw);
  margin-right: calc(90 / 3963 * 100vw);
  cursor: pointer;
}
.faqsfootericon__container :hover {
  background: rgba(171, 171, 171, 0.3);
}


@media screen and (max-width: 520px) {
  .faqsfooter {
    width: 100vw;
    height: calc(190 / 2638 * 100vh);
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
  .faqsfooter__left {
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-self: center;
  }
  .faqsfooter__left > h2 {
    font-size: calc(150 / 3963 * 100vw);
    justify-content: center;
    margin-top: 10px;
    
  }
  .faqsfootericon__container {
    /* padding: calc(10 / 3963 * 100vw); */
    /* margin-right: calc(90 / 3963 * 100vw); */
    justify-content: center;
    /* height: 100%; */
    /* background-color: aqua; */
    margin-bottom: 30px;
  }
  .faqsfootericon__container > .MuiSvgIcon-root {
    /* height: calc(250 / 2167 * 100vh); */
    width: calc(220 / 3963 * 100vw);
  }
  
}
