.App__Body{
  width: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
}
.App__SearchBar{
  background-color: rgb(214,242,255);
}
.App__Body{
  background-color: rgb(214,242,255);
}
.App__Content{
  display: flex;
  align-items: center;
  margin-left: 5%;
  width: 90%;
}