@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

.entrepreneurshipkickstartsection1 {
  text-align: center;
}

.entrepreneurshipkickstartsection1-heading {
  font-family: "Heebo", sans-serif;
  margin: 32px 0 18px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
}

.entrepreneurshipkickstartyellow-underline {
  height: 3px;
  background-color: #fecb2f;
  margin: 0 13% 0 13%;
}

.entrepreneurshipkickstartsection1-text {
  margin: 21px 0 69px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
}

.entrepreneurshipkickstartsection2 {
  padding: 0 2% 0 2%;
}

.entrepreneurshipkickstartsection2-top,
.entrepreneurshipkickstartsection2-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrepreneurshipkickstartsection2-bottom {
  margin-top: -251px;
  /* position: relative;
  top: -246px; */
}

.entrepreneurshipkickstarttop1,
.entrepreneurshipkickstarttop2,
.entrepreneurshipkickstarttop3,
.entrepreneurshipkickstarttop4,
.entrepreneurshipkickstarttop5,
.entrepreneurshipkickstarttop6,
.entrepreneurshipkickstartbottom1,
.entrepreneurshipkickstartbottom2,
.entrepreneurshipkickstartbottom3,
.entrepreneurshipkickstartbottom4,
.entrepreneurshipkickstartbottom5,
.entrepreneurshipkickstartbottom6 {
  width: 16%;
  height: 231px;
  margin: 0 -5px 0 -5px;
  /* outline: 1px solid slateblue; */
}

.entrepreneurshipkickstarttop2,
.entrepreneurshipkickstarttop4,
.entrepreneurshipkickstarttop6 {
  /* width: 16%; */
  /* height: 116px; */

  background: url("./images/yellow-black-background.png");
  transform: rotate(90deg);

  background-size: auto 100%;
  background-repeat: no-repeat;
}

.entrepreneurshipkickstartbottom1,
.entrepreneurshipkickstartbottom3,
.entrepreneurshipkickstartbottom5 {
  background: url("./images/yellow-black-background.png");
  transform: rotate(-90deg);

  background-size: auto 100%;
  background-repeat: no-repeat;
}

.entrepreneurshipkickstartsection2-top img {
  position: relative;
  bottom: 10px;
}

.entrepreneurshipkickstartsection2-bottom img {
  margin-top: 136px;
}

.entrepreneurshipkickstarttop5 > img {
  position: relative;
  top: 10px;
}

.entrepreneurshipkickstartsection3 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.entrepreneurshipkickstartsection3-box {
  margin-left: 165px;
  width: 800px;
  border: 4px solid #fecb2f;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.02em;

  padding: 60px 20px;
  color: #000000;
}

.entrepreneurshipkickstartsection3-img {
  padding: 0 120px 0 120px;
  align-self: flex-end;
  justify-self: flex-end;
}

.entrepreneurshipkickstartsection4 {
  padding: 60px 180px;
  margin: 30px 160px -40px 10px;
  display: flex;
}

.entrepreneurshipkickstartleft-text {
  /* font-family: Helvetica Compressed; */
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 118px;
  letter-spacing: 0.02em;
  color: #fecb2f;
  width: 80%;
}

.entrepreneurshipkickstartsection4 > .entrepreneurshipkickstartright {
  width: 211.42px;
  height: 250px;
  background: #c4c4c4;
  border-radius: 20px;
  padding: 20px;
}

.entrepreneurshipkickstartright-text {
  /* font-family: Helvetica Compressed; */
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #fecb2f;
}

.entrepreneurshipkickstartsection5 {
  display: block;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  left: -50px;
}

.entrepreneurshipkickstartsection6-heading {
  font-family: "Heebo", sans-serif;
  margin-top: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
}

.entrepreneurshipkickstartyellow-line {
  height: 3px;
  background: #fecb2f;
  margin: 3px 500px;
}
/* 
.box{
  width: 974.14px;
  height: 214px;
  background: rgba(254, 203, 47, 1);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
} */

.entrepreneurshipkickstartsection6-box {
  width: 974.14px;
  height: 214px;
  margin-left: auto;

  background: #fecb2f;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 30px 40px 15px 40px;
  display: flex;
  margin: 50px 330px;
}

.entrepreneurshipkickstartbox-left > .entrepreneurshipkickstartleft-heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 10px;
}

.entrepreneurshipkickstartbox-left-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #666557;
}

.entrepreneurshipkickstartbox-right {
  padding: 40px 0 0 90px;
}

.entrepreneurshipkickstartbutton1 {
  width: 169.94px;
  height: 40px;
  background: #666557;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.entrepreneurshipkickstartbutton2 {
  width: 169.94px;
  height: 40px;

  background: #b2afac;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  margin-top: 15px;
}
