.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-left{
    width: 40%;
    display: flex;
    align-items: center;
}
.header-right{
    width: 60%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
}
.header-content{
    color: white;
}
.header-right-left{
    width: 50%;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid white;
    padding-right: 20px;
}
.header-right-right{
    width: 50%;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}