.homebody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.pinimg.com/564x/45/59/fa/4559fadeaacea0e4fed0189022d31814.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.homebody-tag1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1210 / 1440 * 100vw);
  background-color: black;
  opacity: 0.7;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
}
.homebody-tag1 > h2 {
  color: yellow;
  margin-top: 0px;
  margin-bottom: 0px;
}
.homebody-tag1 > p {
  color: white;
}
.homebody__button1 > button {
  background-color: rgb(49, 154, 150);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-top: calc(25 / 900 * 100vh);
  font-size: 18px;
  padding: 2px 20px;
  cursor: pointer;
}
.homebody-tag2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1210 / 1440 * 100vw);
  background-color: black;
  opacity: 0.7;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
}
.homebody-tag2 > h2 {
  color: yellow;
  margin-top: 0px;
  margin-bottom: 0px;
}
.homebody-tag2 > p {
  color: white;
}
.fundraiser_bottom {
  display: flex;
  margin-top: calc(25 / 900 * 100vh);
}
.fundraiser_bar {
  width: calc(920 / 1440 * 100vw);
  height: calc(30 / 900 * 100vh);
  border-radius: calc(10 / 1440 * 100vw);
  background-color: #ffffff;
  margin-top: calc(5 / 900 * 100vh);
  margin-right: calc(4 / 1440 * 100vw);
  display: flex;
}
.fundraiser_bar_content {
  background-color: rgba(255, 255, 1, 1);
  border-radius: calc(10 / 1440 * 100vw);
  flex: 0.78;
}
.fundraiser_bar_percent {
  color: rgba(49, 154, 150, 1);
}
.homebody__button2 > button {
  background-color: rgb(49, 154, 150);
  width: calc(180 / 1440 * 100vw);
  height: calc(43 / 900 * 100vh);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  padding: 2px 20px;
  cursor: pointer;
}
.homebody-tag3 {
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  width: 50%;
  padding: 20px;
  margin: 40px;
}
.homebodyimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.homebodyimg-content {
  padding: 10px;
}
.homebodyimg1 {
  color: yellow;
  font-size: x-large;
}
.homebodyimg2 {
  color: white;
  font-size: x-large;
}
.homebody-tag5 {
  background-color: black;
  opacity: 0.7;
  width: 80%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 40px;
  padding-bottom: 60px;
}
.homebody-tag5-card {
  display: flex;
  align-items: center;
}
.homebody-tag5-card-img {
  width: 30%;
}
.homebody-tag5-card-content {
  flex: 1;
  padding: 10px 40px;
  margin: 10px 60px;
}
.homebody-tag5-card-content > h1 {
  color: yellow;
}
.homebody-tag5-card-content > p {
  color: white;
  padding: 0px 10px;
  margin: 0px 10px;
  font-size: large;
}
.otherlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.justsomebutton {
  background-color: #ff851b;
  margin-bottom: 2vh;
  width: 20vw;
  height: 5vh;
  cursor: pointer;
  font-size: 1.5em;
}
