form{
    margin-top: 0px;
    padding: 30px 0px 60px 0px;
    text-align: left;
    box-sizing: border-box;
    
}

form > div >label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 40px 0 12px 0;
    padding: 10px 0 10px 2px;
}

.name label, .batch label, .contactnumber label, .email label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 40px 0 12px 0;
    padding: 10px 0 10px 2px;
}
.join-as{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 30px 0;
    justify-content: space-between;
}

button{
    margin: 6px 0px 15px 0;

    height: 49px;
    background: rgba(49, 154, 150, 0.3);
    border: none;
    box-sizing: border-box;
    border-radius: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    padding: 0 22px 0 22px;
}

.button1{
    margin-right: 50px;
}

input, textarea{
    padding-left: 15px;
    font-size: 25px;
}

textarea{
    padding-top: 10px;
}

.name > input{
    height:50px;
    width: 902px;
    margin: 10px 0 28px 0;
}

.batch > input{
    height:50px;
    width: 380px;
    margin: 10px 0 28px 0;
}

.contactnumber > input{
    height:50px;
    width: 380px;
    margin: 10px 0 28px 0;
}

.email > input{
    height:50px;
    width: 904px;
    margin: 10px 0 28px 0;
}

.startup-name > input{
    width: 556px;
    height: 73px;
    margin: 10px 0 20px 0;
}

.number-of-founders > input{
    width: 556px;
    height: 73px;
    margin: 10px 0 74px 0;
}

.is-registered {
    margin: 0 0 58px 0;
}

.current-stage .main-label{
    margin: 0 0 49px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    color: #000000;
}

.startup-name, .number-of-founders, .is-registered .main-label{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    color: #000000;
}

.is-registered .main-label{
    padding-right: 35px;
}

.yes-no-label{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 0 10px 0px 50px;
}

.is-registered > input{
    width: 20px;
    height: 20px;
    background-color: black;
    background-color: rgba(49, 154, 150, 1);
    position: relative;
    top: 3px;
}

.options{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 36px 0 36px 60px;
    display: flex;
}

.options > input{
    position: relative;
    top: 5px;
    
}

.current-stage{
    width: 50%;
}

.batch-contact, .startup-details{
    display: flex;
}

.contactnumber{
    margin-left: 470px;
}

.startup-details-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 100px 0 15px 0;
}

.current-stage  input[type="radio"]{
    height: 30px;
    width: 30px;
    background-color: black;
    margin-left: auto;
}

.startup-name >label, .current-stage> .main-label, .number-of-founders>label, .is-registered>label, .questions > label{
      /* background-color:rgba(49, 154, 150, 0.3);   */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
}

.number-of-founders{
    margin-left: auto;
}

.questions{
    margin-top: 64px;
}

.questions > textarea{
    height:117px;
    width: 904px;
    margin: 10px 0 0 0;
}

.submit-button{
    display: flex;
    justify-content: center;
}

.submit-button > button{
    background: rgba(49, 154, 150, 1);
    width: 326px;
    height: 82px;
    margin-top: 65px;
    align-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    border: none;
    color: #FFFFFF;
    border-radius: 0%;
}

button:hover{
    cursor: pointer;
}

