@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.iitdangelnetwork_header {
  height: calc(471 / 2638 * 100vh);
  width: 100vw;
  background-color: #000000;
  display: flex;
}

.iitdangelnetworkApp {
  text-align: center;
  box-sizing: border-box;
  background-image: url("https://previews.123rf.com/images/zenobillis/zenobillis1901/zenobillis190100028/119244755-light-brown-brick-wall-abstract-background-texture-of-bricks-vector-illustration.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.iitdangelnetworkmain-heading {
  margin: 31px 0 0px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}

.iitdangelnetworkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  text-align: left;
}

.iitdangelnetworkbox1,
.iitdangelnetworkbox2 {
  width: 612px;
  height: 330px;
  background: linear-gradient(180deg, #35454a 0%, #263238 100%);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  margin: 32px 80px 30px 80px;
}

.iitdangelnetworkbox1 {
  margin-bottom: -2px;
}

.iitdangelnetworkbox1 > .iitdangelnetworkbox-text {
  padding: 30px 25px 0 10px;
}

.iitdangelnetworkbox2 > .iitdangelnetworkbox-text {
  padding: 30px 5px 0 20px;
}

.iitdangelnetworkbox-text-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #fecb2f;
  padding-bottom: 25px;
}

.iitdangelnetworkbox2 .iitdangelnetworkbox-text-heading {
  padding-bottom: 20px;
}

.iitdangelnetworkbox-text-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  color: #ffffff;

  border: 1px solid #000000;
  backdrop-filter: blur(4px);
}

.iitdangelnetworkbox1-image {
  margin-top: 13px;
  margin-right: 30px;
}

.iitdangelnetworkbox1-image > img {
  width: 172px;
}

.iitdangelnetworkbox2-image {
  margin-top: 0px;
  margin-right: -10px;
}

.iitdangelnetworkbox2-image > img {
  width: 154px;
  height: 300px;
}

.iitdangelnetworkinviting-our-alumni {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  padding: 30px 270px 30px 270px;
}

.iitdangelnetworkline-under-quotes {
  margin: -70px 0 -70px 0;
}

.iitdangelnetworkthe-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.iitdangelnetworkopening-quotes {
  position: relative;
  top: 60px;
  right: 230px;
}

.iitdangelnetworkclosing-quotes {
  position: relative;
  bottom: 60px;
  left: 230px;
  transform: rotate(180deg);
}


.iitdangelnetwork_footer {
  height: calc(289 / 2638 * 100vh);
  width: 100vw;
  background-color: #000000;
  display: flex;
}