.Infocard{
    width: 320px;
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: rgba(100, 227, 176, 0.05);
}
.Infocard_Content{
    padding: 10px;
}
.Infocard_Avatar{
    width: 120px;
    height: 120px;
}
.Infocard > img{
    width: 120px;
    height: 120px;
}
.Infocard_Head{
    display: flex;
}

.Infocard_Head > p{
    flex: 1;
}
#Infocard_GreenIndie{
    color: #595959;
}
.Infocard_Span{
    color: #319a96;
}
.Infocard_MailIcon{
    color: #319a96
}