@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.PreIncubationPlan_header {
  /* height: calc(471 / 2638 * 100vh); */
  width: 100vw;
  background-color: #000000;
  display: flex;
}

.PreIncubationPlanApp {
  text-align: center;
  box-sizing: border-box;
  background-image: url("https://image.freepik.com/free-photo/white-brick-wall-textures-background_1203-6587.jpg?w=996");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}

.PreIncubationPlanmain-heading {
  margin: 103px 0 0px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}

.PreIncubationPlanboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  text-align: left;
}

.PreIncubationPlanbox1,
.PreIncubationPlanbox2 {
  width: 612px;
  height: 350px;
  background: linear-gradient(180deg, #35454a 0%, #263238 100%);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  margin: 32px 80px 30px 80px;
}

.PreIncubationPlanbox1 {
  margin-bottom: -2px;
}

.PreIncubationPlanbox1 > .PreIncubationPlanbox-text {
  padding: 30px 25px 0 10px;
}

.PreIncubationPlanbox2 > .PreIncubationPlanbox-text {
  padding: 30px 5px 0 20px;
}

.PreIncubationPlanbox-text-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #fecb2f;
  padding-bottom: 25px;
}

.PreIncubationPlanbox2 .PreIncubationPlanbox-text-heading {
  padding-bottom: 20px;
}

.PreIncubationPlanbox-text-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  color: #ffffff;

  border: 1px solid #000000;
  backdrop-filter: blur(4px);
}

.PreIncubationPlanbox1-image {
  margin-top: 13px;
  margin-right: 30px;
}

.PreIncubationPlanbox1-image > img {
  width: 172px;
}

.PreIncubationPlanbox2-image {
  margin-top: 0px;
  margin-right: -10px;
}

.PreIncubationPlanbox2-image > img {
  width: 154px;
  height: 300px;
}

.PreIncubationPlaninviting-our-alumni {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  padding: 30px 270px 30px 270px;
}

.PreIncubationPlanline-under-quotes {
  margin: -70px 0 -70px 0;
}

.PreIncubationPlanthe-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.PreIncubationPlanopening-quotes {
  position: relative;
  top: 60px;
  right: 230px;
}

.PreIncubationPlanclosing-quotes {
  position: relative;
  bottom: 60px;
  left: 230px;
  transform: rotate(180deg);
}

.PreIncubationPlan_footer {
  height: calc(289 / 2638 * 100vh);
  width: 100vw;
  background-color: #000000;
  display: flex;
}
@media only screen and (max-width: 780px){
  .PreIncubationPlanmain-heading {
    font-size: 45px;
  }
  .PreIncubationPlanbox1, .PreIncubationPlanbox2{
    height: 500px;
  }
  .PreIncubationPlanbox1-image{
    margin-top: 93px;
  }
  .PreIncubationPlanbox2-image{
    margin-top: 93px;
  }
}
@media only screen and (max-width: 720px){
  .PreIncubationPlanmain-heading {
    margin-top: 80px;
    font-size: 40px;
    margin-bottom: -20px;
  }
  .PreIncubationPlaninviting-our-alumni{
    padding: 30px 30px 30px 30px;
  }
  .PreIncubationPlan_footer {
    
    height: 50px;
  }
}
@media only screen and (max-width: 608px){
  .PreIncubationPlanopening-quotes{
    right: 200px;
  }
  .PreIncubationPlanclosing-quotes{
    left: 180px;
  }
}
@media only screen and (max-width: 510px){
  .PreIncubationPlanthe-line{
    font-size: 1em;
  }
  .PreIncubationPlanopening-quotes{
    right: 130px;
    width: 50px;
    height: 50px;
    top: 35px;
  }
  .PreIncubationPlanclosing-quotes{
    left: 120px;
    width: 50px;
    height: 50px;
    top: -35px;
  }
  .MuiSvgIcon-root{
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .PreIncubationPlanbox1,
  .PreIncubationPlanbox2{
    width: 90vw;
  }
  .PreIncubationPlan_footer {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100vw;
    background-color: #000000;
    display: flex;
  }
}
@media only screen and (max-width: 470px){
  .PreIncubationPlanbox1, .PreIncubationPlanbox2{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px 20px;
  }
  .PreIncubationPlanbox-text-heading{
    font-size: 1.3em;
  }
  .PreIncubationPlanbox-text-content{
    font-size: 1.1em;
  }
  .PreIncubationPlaninviting-our-alumni{
    font-size: 1.2em;
  }
  .PreIncubationPlanmain-heading{
    font-size: 2em;
  }
}