.contactusheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: #f1f1f1;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #1a1a1a;
  height: 113px;
}

.contactusheaderDashboard {
  display: flex;
  align-items: center;
}
.contactusheaderDashboard_dashboard {
  text-align: top;
}
.contactusheaderLogo {
  width: 40%;
  align-items: center;
}
.contactusheaderCellName > span {
  padding-bottom: 4px;
}
.contactusheaderCellName {
  text-align: center;
}
.contactusheaderWork {
  text-align: center;
}
.contactusheaderIcon {
  color: yellow;
  align-items: baseline;
}
.contactusheaderAvatar {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.contactusheaderPersonAvatar {
  align-items: center;
  align-content: center;
  text-align: center;
}
.contactusheaderCellName {
  align-content: center;
  align-items: center;
  text-align: center;
}
.contactusheaderCellName > img {
  width: 20px;
  height: 20px;
}
.contactusheaderCellName > h4 {
  margin: auto;
}
